{% extends "layout.html" %}

{% block page_title %}
  Check your answers
{% endblock %}

{% block content %}

<main id="content" role="main">

  	<div class="grid-row">
    	<div class="column-full">

			 <h1 class="heading-xlarge">
			   Contact the Ministry of Justice
			 </h1>

		</div>

		<div class="column-two-thirds">

			<div class="govuk-box-highlight" style="margin-top:0px;">
	        <h1 class="bold-large">Your enquiry has been sent</h1><br>
	      </div>
	      	<br>
	        <p>We’ve sent a confirmation email to <strong>john.smith@example.com</strong></p>
	       

	        <h2 class="heading-medium">What happens next</h2>
	         <p>We'll review your enquiry and respond to the above email.</p>

	         <p>We aim to respond within a week, but it may take up to 4 weeks.</p>
	         
	         <p><strong>We don't respond to enquiries which:</strong></p>
	        <ul class="list-bullet">
	        	<li>contain offensive language</li>
	        	<li>have already been answered in a previous reply</li>
	        	<li>are not clear enough to be understood</li>
	        	<li>are selling or promoting a product</li>
	        	<li>are for information only</li>
	        </ul>
	        <br>

	        <p><a href="#">How was this online service?</a> (takes 30 seconds)</p>

		</div>
	</div>

</main>

{% endblock %}
