{% extends "layout.html" %}

{% block page_title %}
  Check your answers
{% endblock %}

{% block content %}

<main id="content" role="main">

  	<div class="grid-row">
    	<div class="column-full">

			 <h1 class="heading-xlarge">
			   Contact the Ministry of Justice
			 </h1>

		</div>

		<div class="column-two-thirds">

			<div class="govuk-box-highlight" style="margin-top:0px;">
	        <h1 class="bold-large">Your enquiry has been sent</h1><br>
	      </div>
	      	<br>
	        <p>We’ve sent a confirmation email to <strong>john.smith@example.com</strong></p>
	       

	        <h2 class="heading-medium">What happens next</h2>
	         <p>We'll review your message, if it is a genuine enquiry, we will respond we’ll do so within 20 working days.</p>
	         <p><strong>Please note we do not respond to your enquires when:</strong></p>
	        <ul class="list-bullet">
	        	<li>it contains offensive language</li>
	        	<li>it has already been answered in a previous reply</li>
	        	<li>it is illegible</li>
	        	<li>is selling or promoting a product</li>
	        	<li>is for information only</li>
	        </ul>
	        <br>
	        <p>We’ll send any response to the above email.</p>
	        <br>
	        <p><a href="#">How was this online service?</a> (takes 30 seconds)</p>

		</div>
	</div>

</main>

{% endblock %}
