{% extends "layout.html" %}

{% block page_title %}
  Check your answers
{% endblock %}

{% block content %}

<main id="content" role="main">

  	<div class="grid-row">
    	<div class="column-full">

			 <h1 class="heading-xlarge">
			   Contact the Ministry of Justice
			 </h1>

		</div>

		<div class="column-two-thirds">

			<div class="govuk-box-highlight" style="margin-top:0px;">
	        <h1 class="bold-large">Your message has been sent</h1><br>
	      </div>
	      	<br>
	        <p>We’ve sent confirmation to <strong>john.smith@example.com</strong></p>
	       

	        <h2 class="heading-medium">What happens next</h2>
	         <p>The team will review your message and reply to the email shown above.</p>

	         <p>We aim to respond to you as soon as possible, but allow up to 4 weeks for complex cases or during busy periods.</p>
	         <br>

	        <p>Was this service helpful? <a href="#">Provide feedback</a> (takes 30 seconds)</p>

	        <p><a href="https://www.gov.uk/government/organisations/ministry-of-justice      <p>We aim to respond to you as soon as possible, but allow up to 4 weeks for complex cases or during busy periods.</p>">Return to Ministry of Justice</a></p>

		</div>
	</div>

</main>

{% endblock %}
