{% extends "layout.html" %}

{% block page_title %}
  Check your answers
{% endblock %}

{% block content %}

<main id="content" role="main">

  <h1 class="heading-large">
    Thanks for getting in touch
  </h1>

We have sent your enquiry to the team covering {{ country_display }} and aim to respond to all enquiries within 10 working days. If your enquiry is urgent we will aim to deal with it within a day.

<p>Your enquiry is: 

<p class="panel panel-border-narrow">{{ enquirytext_display }}</p>
</p>
<p>We will get back to you using the email address: {{contact_email_display}}.</p>
<p>Thank you.</p>

</main>

{% endblock %}
