{% extends "layout.html" %}

{% block page_title %}
  Check your answers
{% endblock %}

{% block content %}

<main id="content" role="main">

  <h1 class="heading-large">
    Finding answers quickly
  </h1>

<h2 class="heading-medium"> Do these answer your enquiry?</h2>

<p><a href="https://www.gov.uk{{results_display[0].link}}">{{ results_display[0].title }}</a></br>
{{ results_display[0].description }}</p>
<p><a href="https://www.gov.uk{{results_display[1].link}}">{{ results_display[1].title }}</a></br>
{{ results_display[1].description }}</p>
<p><a href="https://www.gov.uk{{results_display[2].link}}">{{ results_display[2].title }}</a></br>
{{ results_display[2].description }}</p>
<a href="https://www.gov.uk/search?q={{enquirytext_display}}+{{country_display}}">Find more helpful articles</a>
  <table>

    <thead>
      <tr>
        <th colspan="2">
          <h2 class="heading-medium">
            Check your enquiry
          </h2>
        </th>
        <th>
        </th>
      </tr>
    </thead>

    <tbody>
      <tr>
        <td>
          Name
        </td>
        <td>  
          {{ contact_name_display }} <br>
        </td>
        <td class="change-answer">
          <a href="#">
            Change <span class="visuallyhidden">Exporter name</span>
          </a>
        </td>
      </tr>
      <tr>
        <td>
          Email Address
        </td>
        <td>
          {{ contact_email_display }}
        </td>
        <td class="change-answer">
          <a href="#">
            Change <span class="visuallyhidden">Producer name</span>
          </a>
        </td>
      </tr>
      <tr>
        <td>
          Your enquiry
        </td>
        <td>
          {{ enquirytext_display }}
        </td>
        <td class="change-answer">
          <a href="#">
            Change <span class="visuallyhidden">Site of export name</span>
          </a>
        </td>
      </tr>
     <tr>
        <td>
          Your country
        </td>
        <td>
          {{ country_display }}
        </td>
        <td class="change-answer">
          <a href="#">
            Change <span class="visuallyhidden">Site of export name</span>
          </a>
        </td>
      </tr>
    </tbody>
  </table>

  <h2 class="heading-medium">If the pages above don't answer your enquiry, please send it now</h2>

  <p class="text">
    By submitting this notification you are confirming that, to the best of your knowledge, the details you are providing are correct.
  </p>

<form action="/confirmation-page" method="get" class="form">

 <fieldset class="visuallyhidden">
      <legend class="visuallyhidden">Your Enquiry</legend>
      <div class="group">
          <p class="visuallyhidden">Don't include personal or financial information, eg your National Insurance number or credit card details.</p>


        <label for="textdetails" class="visuallyhidden">Detail</label>
        <input name="enquirytext" class="visuallyhidden" id="textdetails" required aria-required="true" value={{ enquirytext_display }}>
          
        


        <p id="textdetailscounter" class="visuallyhidden" aria-live="polite" aria-atomic="false">(Limit is 1200 characters)</p>
      </div>
    </fieldset>

<!-- Contact Details -->
  <fieldset id="contact-details" class="visuallyhidden">
      <legend class="heading-medium">Do you want a reply?</legend>
      <p>If you'd like us to get back to you, please leave your details below.</p>

        <p class="group">

        <label for="name">Your name</label>
        <input name="contactname" id="name" type="text" class="full-name" value={{ contact_name_display }}>
      </p>

        <p class="group">

        <label for="email">Your email address</label>
        <input name="contactemail" id="email" type="email" class="email" value={{ contact_email_display }}>

      </p>
              <p class="group">

        <label for="name">Your name</label>
        <input name="country_display" id="name" type="text" class="full-name" value={{ country_display }}>
      </p>

    </fieldset>


    <div class="visuallyhidden">
      <details>
        <summary><span class="summary">We'll use the information you provide to answer your enquiry and improve our service</span></summary>
        <div class="panel panel-border-narrow">
          <p>
            The Foreign and Commonwealth Office will use the information you provide to answer your enquiry. We may also use it to improve the service we offer to other people by analysing common questions and updating the content available on GOV.UK.
          </p>
          </div>
      </details>
    </div>

    <div class="form-group">
      <input type="submit" class="button" value="Send now">
    </div>

  </form>

</main>

{% endblock %}
