{% extends "layout.html" %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}

{% block content %}

<main id="content" role="main">
  <div class="grid-row">
    <div class="column-two-thirds">

      <h1 class="heading-xlarge">FCO Contact Us form prototype</h1>

<p>
        <a class="button button-start" href="/copy-forms" role="button">Customer View</a>
      </p>
The only accepted terms used in the enquiry box that return results in Customer View are:
<li>health</li>
<li>medicine</li>
<li>medicines</li>
<li>doctor</li>
<li>passport</li>
<li>lost</li>
<li>renew</li>
<li>Passport</li>
<li>lifestyle</li>
<li>cost</li>
<li>sunshine</li>
<p></p>

<p>
        <a class="button button-start" href="/suggested-articles-page" role="button">Staff View</a>
      </p>



      
    </div>
  </div>
</main>

{% endblock %}


