{% extends "layout.html" %}

{% block page_title %}
  Start page example
{% endblock %}

{% block proposition_header %}
  <!-- blank to remove the proposition header -->
{% endblock %}

{% block header_class %}
  <!-- blank to remove the proposition header -->
{% endblock %}

{% block content %}

<main id="content" role="main">

 	<h1 class="heading-xlarge">
        {% if serviceName %} {{ serviceName }} {% endif %}
      </h1>

  <div class="grid-row">
    <div class="column-two-thirds">
   
      <p class="lede">Use this service to send a message to the Ministry of Justice.</p>

     <!-- <p>The Ministry of Justice received <strong>400</strong> messages in the last week.</p>-->
 

      <p>We aim to respond within 1 week, but allow up to 4 weeks for a reply.</p>
      <br>
     

      <p>
        <a class="button button-get-started" href="summary" role="button">Start now</a>
      </p>

      <h2 class="heading-medium">We don’t reply to messages that:</h2>

	    <ul class="list-bullet">
	    	<li>contain offensive language or material</li>
	    	<li>chasing existing enquiries</li>
	    	<li>have already been answered</li>
	    	<li>ask for legal advice</li>
	    	<li>are selling or promoting a product</li>
	    	<li>are in languages other than English or Welsh
	    	<li>can't be understood</li>
	    </ul>

    </div>

    <div class="column-third">

      <aside class="govuk-related-items" role="complementary">
        <h2 class="heading-medium" id="subsection-title">Other services</h2>
        <nav role="navigation" aria-labelledby="subsection-title">
          <ul class="font-xsmall">
            <li><a href="https://www.gov.uk/find-court-tribunal">Find a court or tribunal</a></li>
            <li><a href="https://www.gov.uk/find-prison">Find a prison</a></li> 
            <li><a href="https://www.gov.uk/staying-in-touch-with-someone-in-prison/visiting-someone-in-prison">Visiting someone in prison</a></li> 
          </ul>
        </nav>
      </aside>

    </div>
  
  </div>

</main>

{% endblock %}
