{% extends "layout.html" %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}

{% block content %}

<main id="content" role="main">
  <div class="grid-row">
    <div class="column-two-thirds">

      <h1 class="heading-xlarge">FCO Contact Us form prototype</h1>

<p>
        <a class="button button-start" href="/copy-forms" role="button">Customer View</a>
      </p>
The page will now accept any enquiry you type and return the top three GOV.UK search results when you click through to the next page. 
<p>
        <a class="button button-start" href="/copy-forms-2" role="button">Customer View 2</a>
      </p>As View 1, but the journey is broken into two stages, first submitting the enquiry, second asking for confirmation of whether it is correct or not, and then providing submission details.

<p>
        <a class="button button-start" href="/suggested-articles-page?enquirytext=how+do+I+get+a+new+passport" role="button">Staff View</a>
      </p>
The Staff View prototype is supposed to provide an example of an integrated GOV.UK search-based reply workflow. 


      
    </div>
  </div>
</main>

{% endblock %}


