{% extends "layout.html" %}

{% block page_title %}
  Check your answers
{% endblock %}

{% block content %}

<main id="content" role="main">

  <h1 class="heading-large">
    Finding answers quickly
  </h1>


<form action="/confirmation-page-3" method="get" class="form">

          

  

<!-- Contact Details -->
  <div id="contact-details">
 
    <legend class="heading-medium">Submit your enquiry and we will try to answer</legend>
        <p><a href={{passport_link}}>{{passport}}</a></p>
        <p><a href={{visa_link}}>{{visa}}</a></p>
        <p>{{assault}}</p>
      
    <fieldset id="contact_details">
      
      <p class="group">
        <label for="name">Your name</label>
        <input name="contactname" id="name" type="text" class="form-control-1-3 full-name" value={{ contact_name_display }}>
      
      </p>
      <p>
      
        <label for="email">Your email address</label>
        <input name="contactemail" id="email" type="email" class="form-control-1-3 email" value={{ contact_email_display }}>

      </p>
    </fieldset>

    <fieldset id="enquiry">
      <p>
      <label for="country">Country</label>
        <input name="country" id="country" type="text" class="full-name" value="{{country_display}}" >
      </p>
      <p>
      <label for="textdetails">Enquiry</label>
        <textarea name="enquirytext" class="form-control-2-3 counted" id="textdetails" required aria-required="true" >{{enquirytext_display}}</textarea>
      </p>   
    </fieldset>

    <p>
    <details>
        <summary><span class="summary">We'll use the information you provide to answer your enquiry and improve our service</span></summary>
        <div class="panel panel-border-narrow">
          <p>
            The Foreign and Commonwealth Office will use the information you provide to answer your enquiry. We may also use it to improve the service we offer to other people by analysing common questions and updating the content available on GOV.UK.
          </p>
        </div>
    </details>
    </p>
   
    <div class="form-group">
      <input type="submit" class="button" value="Send now">
    </div>

  </div>

  
</form>
 <p></p>
</main>

{% endblock %}
