<!DOCTYPE html>

<html lang="en"><!--<![endif]--><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

    
    <title>Spain travel advice - GOV.UK</title>


</head>

  <body class="js-enabled">
 <main role="main" id="content" class="travel-advice">
        
<div class="govuk-breadcrumbs">
  <ol>
    <li>
        <a data-track-category="breadcrumbClicked" data-track-action="1" data-track-label="/" data-track-dimension="Home" data-module="track-breadcrumb-click" href="https://www.gov.uk/">Home</a>
    </li>
    <li>
        <a data-track-category="breadcrumbClicked" data-track-action="2" data-track-label="/browse/abroad" data-track-dimension="Passports, travel and living abroad" data-module="track-breadcrumb-click" href="https://www.gov.uk/browse/abroad">Passports, travel and living abroad</a>
    </li>
    <li>
        <a data-track-category="breadcrumbClicked" data-track-action="3" data-track-label="/browse/abroad/travel-abroad" data-track-dimension="Travel abroad" data-module="track-breadcrumb-click" href="https://www.gov.uk/browse/abroad/travel-abroad">Travel abroad</a>
    </li>
    <li>
        <a data-track-category="breadcrumbClicked" data-track-action="4" data-track-label="/foreign-travel-advice" data-track-dimension="Foreign travel advice" data-module="track-breadcrumb-click" href="https://www.gov.uk/foreign-travel-advice">Foreign travel advice</a>
    </li>
  </ol>
</div>


<div class="grid-row">
  <div class="column-two-thirds-desktop">
    <div class="govuk-title length-average">
    <p class="context">Foreign travel advice</p>
  <h1>Spain</h1>
</div>

    <aside class="page-navigation-container" role="complementary">
  <nav role="navigation" class="page-navigation" aria-label="parts to this guide">
      <ol>
            <li>
              <a title="Summary" href="https://www.gov.uk/foreign-travel-advice/spain">
                <span class="part-title">Summary</span>
                  <span class="part-description">Current travel advice</span>
</a>            </li>
            <li>
              <a title="Safety and security" href="https://www.gov.uk/foreign-travel-advice/spain/safety-and-security">
                <span class="part-title">Safety and security</span>
</a>            </li>
            <li>
              <a title="Terrorism" href="https://www.gov.uk/foreign-travel-advice/spain/terrorism">
                <span class="part-title">Terrorism</span>
</a>            </li>
            <li>
              <a title="Local laws and customs" href="https://www.gov.uk/foreign-travel-advice/spain/local-laws-and-customs">
                <span class="part-title">Local laws and customs</span>
</a>            </li>
            <li>
              <a title="Entry requirements" href="https://www.gov.uk/foreign-travel-advice/spain/entry-requirements">
                <span class="part-title">Entry requirements</span>
</a>            </li>
      </ol>
      <ol start="6">
            <li>
              <a title="Health" href="https://www.gov.uk/foreign-travel-advice/spain/health">
                <span class="part-title">Health</span>
</a>            </li>
            <li>
              <a title="Natural disasters" href="https://www.gov.uk/foreign-travel-advice/spain/natural-disasters">
                <span class="part-title">Natural disasters</span>
</a>            </li>
            <li>
              <a title="Money" href="https://www.gov.uk/foreign-travel-advice/spain/money">
                <span class="part-title">Money</span>
</a>            </li>
            <li class="active">
              <span class="part-title">Contact FCO Travel Advice Team</span>
            </li>
      </ol>
  </nav>
  <section class="subscriptions">
    <h1 class="visuallyhidden">Subscriptions</h1>
    Get updates
    <ul>
      <li><a class="email-alerts" title="Subscribe to email alerts" href="https://www.gov.uk/foreign-travel-advice/spain/email-signup">email</a></li>
      <li><a class="feed" title="Subscribe via RSS" href="https://www.gov.uk/foreign-travel-advice/spain/contact-fco-travel-advice-team.atom">feed</a></li>
    </ul>
  </section>
</aside>


      <h1 class="part-content-title">
        Contact FCO Travel Advice Team
      </h1>
      <div class="govuk-govspeak">
  <p>This email service only offers information and advice for British nationals planning to travel abroad. </p>

<p>If you need urgent help because something has happened to a friend or relative abroad, contact the consular assistance team on 020 7008 1500 (24 hours).</p>

<p>If you’re abroad and need emergency help, please contact the nearest <a href="https://www.gov.uk/government/world/organisations">British embassy, consulate or high commission</a>.</p>

<p>If you have a question about this travel advice, you can email us at <a href="mailto:TravelAdvicePublicEnquiries@fco.gov.uk">TravelAdvicePublicEnquiries@fco.gov.uk</a></p>

<p>Before you send an email, make sure you have read the travel advice for the country you’re travelling to, and the guidance on <a href="https://www.gov.uk/how-the-foreign-commonwealth-office-puts-together-travel-advice">how the FCO puts travel advice together</a>.</p>

</div>


    <div class="print-link">
      <a rel="nofollow" href="https://www.gov.uk/foreign-travel-advice/spain/print" target="_blank">Print entire guide</a>
    </div>
  </div>
 
</div>


      </main>
 
</body></html>